.App {
  background-color: #121213;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ececec;
}

.container {
  background: #1f1f1f;
  padding: 2rem;
  margin: 0;
  width: 30rem;
  /*min-height: 30rem;*/
}

h1 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  padding: 0;
}

label {
  font-size: 1.15rem;
}

input {
  font-size: 1.15rem;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  padding: 1.25rem 0.75rem;
  margin-top: 0.5rem;
}

button {
  width: 100%;
  font-size: 1.15rem;
  border-radius: 10rem;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  background-color: #0e4ac1;
  color: #ececec;
  cursor: pointer;
}

button:hover {
  background-color: #0c3b9b;
}

button:disabled {
  background-color: #4a4a4a;
  pointer-events: none;
}

.grey {
  color: grey;
  font-weight: 600;
}

.green {
  color: #21a821;
  font-weight: 600;
}

meter {
  width: 100%;
}

.error {
  color: #da2d2d;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

